$color-btn: #FF0000;
$color-fat: #444444;
$color-slim: #989898;

$font-roboto: "Roboto", "PT Sans", sans-serif;

$mobile-widths-menu: screen and (max-width: 767px);
$tablet-widths-v: screen and (min-width: 768px);
$tablet-widths-h: screen and (min-width: 1024px);
$desktop-widths: screen and (min-width: 1366px);
$desktop-widths-2: screen and (min-width: 1600px);
$desktop-widths-3: screen and (min-width: 2500px);
